# Server-only
DATABASE_URL=postgresql://USER:PASSWORD@HOST/DBNAME?sslmode=require
RESEND_API_KEY=
SENDER_EMAIL=onboarding@resend.dev
BUSINESS_EMAIL=info@jmamotorservice.ie

# Browser-exposed
NEXT_PUBLIC_WHATSAPP_NUMBER=353852246411
